# 1. Problem Statement
----------------------------------------------

In [ ]:
#Problem Statement

-----------------------------------
# 2. Hypothesis Generation
-----------------------------------

In [ ]:
#Hypothesis Generation

-----------------------------------
# 3. System Ready and Data Understanding
-----------------------------------

In [3]:
# System Ready and Data Understanding
import pandas as pd

df1 = pd.read_csv("./DataSheet/raw_data.csv")
df1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

-----------------------------------
# 4. Data Anlysis
-----------------------------------

In [ ]:
#Data Anlysis

-----------------------------------
# 5. Missing Value and Outliers
-----------------------------------

In [ ]:
#  Missing Value

In [ ]:
#  Outliers

-----------------------------------
# 6. Evaluation Metrics for classification problem
-----------------------------------

In [ ]:
#Evaluation Metrics for classification problem

-----------------------------------
# 7. Model building: part 1 
### (Apply Deep Learning classification algorithm without step 8)
-----------------------------------

In [ ]:
# Model building

-----------------------------------
# 8. Feature engineering
-----------------------------------

In [ ]:
#  Feature engineering

-----------------------------------
# 9. Model building: part 2
### (Apply Deep Learning classification algorithm with step 8)
-----------------------------------

In [ ]:
# Model building

-----------------------------------
# 10. Model deployment
-----------------------------------

In [ ]:
# Model deployment